<div>
  <p>
    Welcome to
    {{appName}}. Please click
    <a
      href='{{appHost}}/api/auth/verify-email?email={{email}}&token={{verificationToken}}'
    >
      here
    </a>
    to verify your email.
  </p>
</div>